# macOS especifico
.DS_Store

# Entornos virtuales
venv/
.venv/
env/

# Python (Caches y Compilados)
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Datos y Modelos (Se generan localmente, no van a Git)
data/*.csv
models/*.pkl
models/*.h5
experiments/outputs/
